* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #e5e5e5;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table {
    width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

#menu {
    height: 100vh;
    position: sticky;
    top: 0;
    box-shadow: 2px 1px 1px #ccc ;
    overflow-y: scroll;
    padding-bottom: 12px;
    border-right: 1px solid #ccc;
    box-shadow: 1px 0px 1px #a3a3a3;
    background: rgb(37, 104, 87);
  }
  #menu::-webkit-scrollbar {
    display: none;
  }
  
  .card{
    background: rgb(37, 104, 87);
  }
  
  .menu-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0 4px 0;
    margin-right: -12px;
    margin-left: -12px;
    border-bottom: 1px solid #ccc;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 14;
    background:  rgb(37, 104, 87);
  }
  
  .menu-head-huyhieu {
    width: 50px;
  }
  
  .menu-head-name {
    color: #fff;
    font-size: 15px;
  }
  #main{
    padding-bottom: 24px;
  }
  .main-top {
    height: 50px;
    margin: 0 -12px;
    padding: 0 12px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 2px #ccc;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
  }
  .main-top-left,
  .main-top-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main-top-left-icon,
  .main-top-right-icon
  {
      font-size: 18px;
      margin-right: 8px;
      color: rgb(138, 137, 137);
  }
  .main-top-left-title{
      font-weight: bold;
      font-size: 16px;
  }
  
  .menu-main-list{
    margin-top: 24px;
  }
  .menu-main-item{
    /* border-bottom: 1px solid #ccc; */
    padding: 8px 4px;
    transition: all 0.4s;
    margin: 12px 0;
    position: relative;
  }
  .menu-main-item.active{
    background: #34a078;
    padding: 0 -12px;
  }
  

  .menu-main-item:first-child{
    /* border-top: 1px solid #ccc; */
  }
  a{
    text-decoration: none;
    display: block;
  }
  .menu-main-item-icon,
  .menu-main-item-title{
    color: rgb(255, 255, 255);
    transition: all 0.3s;
  }
  
  .menu-main-item-icon{
    width: 24px;
    font-size: 16px;
  }
  .main-content-title{
    margin: 28px 0 12px;
    font-size: 18px;
    color: #d70202;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: underline;
  }
  .form-label{
    color: #333;
    font-weight: bold;
  }

.menu-head{
    margin: 0 -12px;
    padding: 4px;
    height: 50px;
}

.menu-top-logo{
    width: 50px;
}

.menu-head-name{
    color: #fff;
    margin-left: 12px;
    font-size: 15px;
}

.menu-main-item-icon{
    font-size: 20px;
}
.menu-main-item-title{
    margin-left: 6px;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
    font-size: 13px;
}

/* .menu-main-item:hover{
    background-color: #acacac65;
} */

.main-top-right-user{
    font-size: 14px;
}
.main-top-right-user >span{
    color: #0c9762;
}

.menu-main-item-icon-right{
    position: absolute;
    right: 0;
    top: 10px;
    color: white;
}
.collapse{
    background: rgb(37, 104, 87);
}

.sub-menu-item a{
    color: white;
}
.sub-menu-list{
    margin-left: 24px;
    margin-top: 4px;
    color: #fff;
    font-size: 15px;
}
.sub-menu-item{
    margin: 12px 0;
}
.sub-menu-item-icon{
    font-size: 16px;
    width: 4px;
}
.sub-menu-item-title{
    font-size: 14px;
    margin-left: 24px;
}
.main-center{
  background: white;
  margin-top: 12px;
}
.main-center-body{
  background: white;
  margin-top: 12px;
  box-shadow: 0px 1px 3px #424242 ;
  padding-bottom: 24px;
}

.main-center-tongquan-wrapper{
  position: absolute;
  z-index: 2;
  right: 20%;
  top: 50%;
  transform: translateY(-50%)!important;
  color: white;
  background: #00000047;
  padding: 16px;
  border-radius: 12px;
  animation: mymove 0.5s linear 0s 1 none normal;
}
@keyframes mymove {
  from {
    right: -12px;
    opacity: 0;
  }
  to {
    right: 20%;
    opacity: 1;
  }
}
.tongquan-head{
  text-transform: uppercase;
  font-size: 22px;
}
.tongquan-main{
  margin-top: 12px;
  margin-left: 36px;
}
.tongquan-main-item{
  margin: 4px 0;
}
.tongquan-item-title{
  font-style: italic;
  font-size: 14px;
  color: #e5e5e5;
  font-weight: lighter;
}

.main-footer{
  position: absolute;
  z-index: 2;
  bottom: -40px;
  left: 18px;
  color: white;
  font-style: italic;
  font-size: 13px;
}

.main-center-body-top{
  display: flex;
  align-items: center;
  padding: 12px 24px;
}
.main-center-body-icon{
  color: #0c9762;
  font-size: 20px;
  margin-right: 12px;
}
.main-center-body-title{
  font-weight: bold;
}

.main-center-body-table{
  padding: 0 36px;
  margin-top: 36px;
}
table > thead > tr  {
  background: #222222;
}
table > thead > tr > th  {
  /* background: #3a3939; */
  font-size: 14px!important;
  color: #fff;
  font-weight: lighter!important;
}
table > tbody > tr> td{
  font-size: 14px!important;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #424242;
}
.dataTables_wrapper .dataTables_filter input{
   outline: none;
}
.dataTables_filter{
  margin-bottom: 24px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  padding: 3px 12px;
  border: 1px solid #787373;
}
.soluong{
  font-weight: bold;
}

.sub-menu-item.active{
  background: #0c9762;
}
.body1{
  font-weight: normal;
  /* font-size: 14px; */
  font-style: italic;
}
.table-title{
  text-align: center;
  margin: 24px;
  font-size: 18px;
  font-weight: revert;
}
table >tbody> tr{
  vertical-align: middle;
}
#searchForm{
  padding: 32px;
  background: #dfdfdf;
  margin: 0 12px;
  border-radius: 12px;
  box-shadow: 0px 1px 2px #333;
  margin-top: 12px;
}
input, select{
  border: 1px solid #2e6897c9!important;
}
.btn.add{
  width: 100%;
}
.form-label{
  font-size: 14px;
}

.spinner{
  display: none;
}
 .spinner{
  display: none;
}

.visiable{
  display: flex;
  justify-content: center;
  flex-direction: column;align-items: center;
}
#table-sub-title{
  font-size: 15px;
  font-weight: normal;
  font-style: italic;
  line-height: 22px;
}

.main-center-detail-title{
  font-size: 16px;
  color: #302f2f;
}
.main-center-detail {
  padding: 12px;
  margin: 12px;
}

.img-detail{
  width: 264px;
  position: absolute;
  right: 4%;
  top: 80px;
  z-index: 0;
  animation: leftToRight 1s linear 0s 1 none normal;
}

@keyframes leftToRight {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    right: 4%;
    opacity: 1;
  }
}
@media (max-width:767px) {
    #menu {
        position: relative;
        margin-top: 0px;
        height: auto;
    }
    #banner{
        /* display: none; */
        position: relative;
        width: auto;
    }
    #main{
        margin-top: 12px;
        position: relative;
    }
    .img-detail{
      display: none;
    }
    .main-center-img{
      display: none;
    }
  }
canvas{ 
  height:calc(100vh - 72px);
  background-color:#2e2e2e;
  width: 100%;
}

.status.thanhly{
  background: #7ad124;
  color: #cb0000;
  font-weight: normal;
}

.status.trongkho{
  background: cornflowerblue;
  color: wheat;
  font-weight: normal;
}
.status.xuatkho{
  background: #bb3a2d;
  color: wheat;
  font-weight: normal;
}

  .table.dataTable {
    border-collapse: collapse;
  }
  thead > tr{
    border-color: #fff;
  }
  tr{
    border-color: black;
  }

  .main-center-img{
    position: absolute;
    z-index: 2;
    right: 0%;
    top: 47%;
    transform: translateY(-50%)!important;
    opacity: 0.9;
  }